.cover-story {
	display: flex;
	flex-direction: row;
	padding: 1em;
	align-items: flex-start;
	@include screen("md") {
		padding: 0;
	}
	
	&:not(:last-child) {
		border-bottom: 1px solid $light-grey;
	}
		
	&__img {		
		width: 30%;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;		
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 1;		
			pointer-events: none;
			transition: background-color .3s;
		}
	
		&:hover:before {
			background-color: rgba(0, 0, 0, .2);
		}	
	}	

	&__body {
		width: 70%;
		margin-left: 1em;
	}
	
	&__title {
		font-weight: bold;
		font-size: $font-md;
		text-transform: capitalize;
		font-family: latoregular;
		margin: 0;
	}
	
	&__text {
		font-size: $font-md;
		margin: 0 0 .5em;
	}
	
		&--transition-md {
		@include screen("md") {
			flex-direction: column;
		}
		
		& .cover-story__img {
			@include screen("md") {
				width: 100%;
			}	
		}
		
		& .cover-story__body {
			@include screen("md") {
				width: 100%;
				margin:1em 0 0;
			}	
		}
	}
	
	&--hero {
		display: block;
		border-bottom: 1px solid $light-grey; 		
		@include screen("md"){
			border-bottom: none;
		}
		
		& .cover-story__img {
			width: auto;			
			margin: 0 -1em;
			@include screen("md"){
				margin: 0;
			}

		}
		
		& .cover-story__body {
			width: 100%;
			margin: 1em 0 0;
			margin-left: 0;
			
		}
		
		& .cover-story__title {
			font-size: $font-xl-2;
			margin: 16px 0 16px;
		}
	}
}
