.feature-story {
		display: block;
		padding: 1.5em 0; 		
		border-bottom: 1px solid $light-grey;
	
	&__header {
		margin: 0 0 1em;
	}
	
	&__title {
		font-weight: bold;
		text-transform: capitalize;
		margin: 0 0 .5em;
		font-size: $font-xl-2;
		font-family: latoregular;
	}
	
	&__img {
		margin: 0 -1em;
		@include screen("sm"){
			padding: 0 1em;
		}	
	}
	
	&__text {
		display: none;
		@include screen("md"){
			display: block;
			margin: 1em 0 0;
		}
	}
	
	&__hashtag {
		text-transform: uppercase;
		font-weight: bold;
		margin: 0 0 1em;
		
		&:hover {
			text-decoration: none;
		}
	}	
	
	&--transition-sm {
		@include screen("sm") {
			display: flex;			
		}
		
		& .feature-story__img {
			@include screen("sm") {
				width: 33.3%;
			}
		}
		
		& .feature-story__header {
			margin-top: 1em;
			@include screen("sm") {
				width: 70%;
				margin-left: 1em;
				margin-bottom: 0;
				margin-top: 0;
			}
		}		
	}
	
	&--aside {	
		border-bottom: none; 				
		
		& .feature-story__title {
			font-size: $font-lg;
			margin: 16px 0 0;
		}
	
		& .feature-story__img {
			margin: 0;
			padding: 0;
		}
		
	}
}