.form {
	
	&-line {		
		display: flex;
		margin: .5rem 0;
		
	}
	
	&-label {
		width: 33.3%;
		flex: 0 0 33.3%;
		font-size: $font-sm;
	}
	
	&-input {		
		width: 66.7%;
		flex: 0 0 66.7%;	
		margin: 0 0 1.5rem;				
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid black;
	}
	
}