.form {
	
	&-line {		
		display: block;
		margin: .5rem 0;
		
		@include screen("lg") {
			display: flex;
		}
	}
	
	&-label {
		width: 100%;
		height: 100%;
		font-size: $font-sm;
		
		@include screen("lg") {
			width: 33.3%;
			flex: 0 0 33.3%;
		}
	}
	
	&-input {		
		width: 100%;
		height: 100%;
		margin: 0 0 1.5rem;				
		border-top: none;
		border-left: none;
		border-right: none;
		border-bottom: 1px solid black;
		
		@include screen("lg") {
			width: 66.7%;
			flex: 0 0 66.7%;	
		}
	}
	
}