.l-logo {
// d-flex align-items-center p-2 p-md-0 
	background-color: white;
	display: flex;
	align-items: center;	
	padding: 1rem .5rem;
	
	@include screen("md") {
		justify-content: center;
		padding: 2em 0;
		margin: 0 auto;
	}
}

.logo {
	width: $logo-width / 1.8;
	height: $logo-height / 1.8;
	
	&--dynamic {
		@include screen("md") {
			width: $logo-width;
			height: $logo-height;
		}	
	}
}	
	
.logo-sm {
	width: $logo-width / 2.3 ;
	height: $logo-height / 2.3;	
}	
