// l-modal provides full page overlay
.l-modal {
	display: none;	
	overflow: auto;
	background-color: white;
	z-index: 10;
	position: fixed;
	@extend %position-zeroes;
	
	&--is-visible {
		display: flex;
	}
	
	&--top-offset {
		margin-top: 48px;
	}
	
	// dialog is used to position (center) modal within the overlay; 
	&__dialog {
		// d-flex justify-content-center align-items-center w-100 p-6
		@extend %flex-centered;
		width: 100%;
		padding: 2.25em;
	}
}



.modal-j {		
	max-width: 1000px;
	width: 100%;	
	line-height: 1.4;
	margin: auto;
	// margin auto here fixes overflow caused by flex align-items center
	
	@include screen("lg"){
		position: relative;
		border: 1px solid $light-grey;
		padding: 2em .8em;
		width: 80%;		
	}
	
	&__title {
		text-align: center;
		font-size: $font-xl-1;		
		margin: 0 0 1.5em;
	}
	
	&__body {
		display: block;
		margin: 0 0 3em;
		
		@include screen("lg"){
			display: flex;
		}
	}
	
	&__text {
		margin: 0;
		font-size: $font-md;
	}
	
	&__footer {
		text-align: center;
		background-color: $light-grey;
		position: absolute;
		left: 0;
		right: 0;				
	}
}	