.navbar-mobile {
	display: flex;
	align-items: center;	
	padding: 1rem .5rem;
	background-color: white;	
	position:fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;			
	border-bottom: 1px solid $light-grey;
	transform: translate(0, -60px); 
	// -60px b/c height is 60px
	transition: transform 200ms linear;
	
	&--is-visible {		
		transform: translate(0, 0);
	
		@include screen("lg") {
			display: none;
		}
	}
}	