.searchbar {
	background-color: white;	
	min-width: 30px;	
	height: 30px;
	display: flex;
	padding: 0 .5em;	
	// margin: 0 .5em 0 0;
	// justify-content: center;
	align-items: center;		
	border-bottom: 1px solid white;
	// if transparent the black will bleed through
	
	&__overlay {
		display: block;
		position: absolute;	
		top: 0;
		left:0;
		bottom:0;
		width: 0;			
		background-color: black;
		min-width: 32px;
		z-index:-1;
		// we want the this overlay to sit behind the searchbar; hence negative value
		// it needs the z-boost wrapper so that it sits on top on top-nav__items
	}
	
	&__input {
		display: none;
		border: 0;		
		flex-grow: 1;
		margin: 0 0 0 8px;
	}
	
	&--is-delineated {
	border-bottom-color: $light-grey;
	}
	
	&--is-expanded {
		width: 360px;		
		
		.searchbar__input {
			display: block;
		}
		
		.searchbar__overlay {
			width: 90%;
		}						
	}
}		