.tab-switches {
	display: none;
	z-index: 15;
	align-items: center;
	// add the border of 1px
	background-color: $lighter-grey;
	border-bottom: 1px solid $light-grey;
	
	&--is-visible {
		display: flex;
	}
	
	&__item {		
		@extend %flex-centered;
		height: 48px;
		width: 48px;
		margin-bottom: -1px;
		border-right: 1px solid $light-grey;
		border-bottom: 1px solid $light-grey;		
		
		&--is-active {
			background-color: white;
			border-bottom-color: transparent;			
		}
	}
}