.top-nav {
	display: flex;
	height: 30px;
	line-height: 30px;
	background-color: black;
	padding: 0 8px;
	position: relative;	
	// z-index:1;	
	
	&__list {
		display: flex;		
	}
	
	&__item {		
		color: #a6a6a6;
		padding: 0 8px;
		
		&:hover {
			background-color: white;			
			
			.dropdown {
				display: flex;
			}
		}
	}
	
	&__link {
		color: #a6a6a6;
		text-transform: uppercase;		
		
		&:hover{
			text-decoration: none;
		}
	}
}