.top-nav {
	display: none;
	height: 30px;
	line-height: 30px;
	background-color: black;
	padding: 0 8px;
	position: relative;	
	@include screen("md") {
		display: flex;
	}
	
	
	&__list {
		display: flex;		
		
		&--is-hidden {
			display: none;
		}
	}	
	
	&__item {		
		color: #a6a6a6;
		padding: 0 8px;
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		
		// put border on left to separate from searchbar
		&:first-of-type {												
			
			&:hover {
				border-left-color: $light-grey;												
			}
		}
		
		&:hover {				
			background-color: white;						
			
			.top-nav__link {				
				color: #a6a6a6
			}
			
			.icon-caret-down {
				fill:black;
			}
		}
	}
	
	&__link {
		color: #a6a6a6;		
		text-transform: uppercase;				
		
		&:hover {
			text-decoration: none;
		}									
		
		&:focus {
			color: $magenta;
		}
	}
	
	&__toggle-btn {
		margin-left: -2px;		
		
		&:focus {
			.icon-caret-down {
				fill: $magenta;
			}
		}
	}	
}