.logo {
	width: $logo-width / 1.8;
	height: $logo-height / 1.8;
	@include screen("md") {
		width: $logo-width;
		height: $logo-height;
	}
}	
	
.logo-sm {
	width: $logo-width / 2.3 ;
	height: $logo-height / 2.3;
	margin-bottom: 16px;
}	

.icon-sprite {
	//important to combat injected stylesheet setting this to none
  display: inline-block!important;
  width: 18px;
  height: 18px;
  fill: white;
}

.logo-wrapper {
	@include screen("md") {
		padding: 2em 0;
		margin: 0 auto;
	}
}

.icon-google1 {  
  width: 18px;
  height: 18px;	
	margin-right: 10px;
}

.icon-facebook-2 {
	fill: $facebook-blue;
	margin-right: 10px;
}

.icon-twitter-2 {
	fill: $twitter-blue;
	margin-right: 10px;
}	
	
.icon-search {
	width: 14px;
	height: 14px;
	fill: #a6a6a6;	
}	

.icon-user-wrapper {
	display: block;
}

.icon-user {
	width: 18px;
	height: 18px;
	fill: white;
	stroke:white;
	opacity: .7;
	transition: opacity 300ms ease-in-out;
	
	&:hover {
		opacity: 1;
	}
}

.icon-user-2-wrapper {
	background-color: $lighter-grey;
}

.icon-user-2 {
	width: 18px;
	height: 18px;
	fill:  $grey;
	// stroke:white;
}

.icon-close-wrapper {
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	padding: 2em;
}

.icon-close {
	width: 28px;
	height: 28px;
	
	&--grey {
		fill: #7D7D7D;
	}
	
	&--sm {
		width: 22px;
		height: 22px;
	}
	
	&--is-hidden {
		display: none;
	}
}


.icon-menu-wrapper {
		@include screen("md"){
		display: none;
	}	
}

.icon-menu {
	width: 25px;
	height: 25px;
	// stroke-width: 0;
	}

.icon-price-tag {
	fill: white;
	stroke: black;
	//mt set to visually make it sit neater with the text
	margin-top: 8px;
}