/* Base styles */

@font-face {
    font-family: 'latoregular';
    src: url('../src/assets/fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;  
}

ul,
li {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
}

p,
span {
  font-family: Verdana, Geneva, sans-serif;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
	cursor: pointer;
}

a:focus {
  // outline: 1px dotted;
  // outline-color: inherit;
}

// to prevent inner svg or use element from eating my click event in event delegation
a > svg,
a > img,
button > svg,
button > img {
	pointer-events: none;
}

.hover-underline:hover{
  text-decoration: underline;
}

input:focus{
  outline: none;
}

.button-plain {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
	cursor: pointer;
}

time {
	font-size: $font-sm;
}

.font-xs {
	font-size: .7em;
}

.font-sm {
	font-size: $font-sm;
}

.font-md {
	font-size: $font-sm;
}

.capitalize {
	text-transform: capitalize;
}

.text-grey {
	color: $grey;
}

.text-grey-darker {
	color: $grey-darker;
}

.text-light-grey {
	color: $light-grey;
}

.anchor-primary {
  color: $magenta;
  font-family: Verdana, Geneva, sans-serif;	
		
	&:hover {
		color: darken($magenta, 10%)		
	}
}
		

.anchor-default {
	color: $blue-link;
}

.font-sm {
	font-size: $font-sm;
}

.font-md {
	font-size: $font-md;
}

.font-lg {
	font-size: $font-lg;
}